*{
    margin:0;
}
main{
    background: linear-gradient(180deg, #FEE8A2 0%, rgba(255, 175, 135, 0.00) 100%), url(./imagens/G\ \(3\).png), lightgray 50% / cover no-repeat;

}

header{
    background-color: #FFAF87;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.social-media img{
    width: 35px;
    padding-top: 8px;
}
header nav{
    display: flex;
    align-items: center;
    font-family: 'Koulen', sans-serif;
    gap:70px;
    font-size: 20px;
}
nav img{
    width: 130px;
}
nav a{
    color: #000;
    text-decoration: none;
}
main h1{
    text-align: center;
    padding: 70px 0 0 20px;
    font-family: 'Koulen', sans-serif;
    font-size: 50px;
}
.principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#foto_principal{
    height: 500px;
}
.principal_text{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:25px;
}
.principal_text h2{
    font-family: 'Koulen', sans-serif;
    font-size: 42px;
}
.principal_text a{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #000;
}
.principal_text h3{
    font-family: 'Koulen', sans-serif;
    font-size: 30px;
    font-weight: 0;
}

.social-midia img{
    height: 50px;
}






















footer{
    background-color: #FFAF87;
}
.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}
.text_footer{
    display: flex;
    flex-direction: column;
}
.text_footer h3{
    font-family: 'Koulen', sans-serif;
    font-size: 28px;
    text-align: center;
}
.text_footer p{
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.formulario{
    padding-top: 25px;
}
form input{
    background-color: #FFFAEF;
    border-radius: 150px;
    border: none;
    outline: 0;
    width: 300px;
    height: 30px;
    font-size: 14px;
    padding-left: 8px;
}
form button{
    background-color: #D9D9D9;
    border-radius: 150px;
    width: 70px;
    height: 25px;
    display: flex;
    text-decoration: 0;
    border:0;
    outline: 0;
    padding-left: 12px;
    padding-top: 6px;
    color:rgba(0, 0, 0, 0.44);
}
.footer_copy{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    text-align: center;
}